/node_modules
/public/hot
/public/storage
/storage/*.key
/vendor
.env
.env.backup
.phpunit.result.cache
Homestead.json
Homestead.yaml
npm-debug.log
yarn-error.log

# custom files
composer.lock
package-lock.json
*-lock.json
*.lock

# custom my-scripts
/my-scripts
**/my-scripts/
/my-scripts/**/*

# custom Excalidraw
/my-excalidraw
**/my-excalidraw/
/my-excalidraw/**/*

# adds .vscode folder to ignored files
.vscode/**/*

# exclude these files from being ignored
.vscode/settings.json
.vscode/extensions.json
.vscode/launch.json
.vscode/tasks.json

# Stores VSCode versions used for testing VSCode extensions
.vscode-test
