/*
 * Victor J. <victor.maximo@mtlc.com.mx>
 * date 18/03/2024
 * update 18/03/2024
 * desc Custom CSS : all css styles must have prefix `finanz`
 */

.finanz-dropdown-item:hover{
    background-color: #b0b0b02b;
    cursor: pointer;
}

.finanz-dropdown-item i {
    color: #2a2a2a44;
}

.finanz-bold {
    color: #2a2a2a44;
    font-weight: 700;
}

.finanz-chart-render {
    position: relative;
    height: 400px;
    width: 100%;
}

.finanz-chart-box {
    height: 440px;
    margin: auto;
}

@media only screen and (max-width: 780px) {
    .finanz-chart-box {
        width: 100%;
        height: 400px;
    }
}

/**********************************************************************
* WIDTH PORCERT
***********************************************************************/

.wp-100{
    width: 100%;
}

.wp-90{
    width: 90%;
}

.wp-80{
    width: 80%;
}

.wp-70{
    width: 70%;
}

.wp-60{
    width: 60%;
}

.wp-50{
    width: 50%;
}

/*********************************************************************************
* DISPLAY FLEX
**********************************************************************************/

.center-items {
    display: flex;
    justify-content: center;
    align-items: center;
}
